# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerised.

Some of the popular languages for data science are:

1. Python
2. SQL
3. R
4. JavaScript

Some of the commonly used libraries used by Data Scientists includes:

1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Beautifulsoup
6. Flask

Data Science Tools

| Data Science Tools |
| --- |
| a |
| b |
| c |

### Below are the few examples of evaluating arithmetic expression in python.

In [10]:
#This is simple arithmetic expression to multiply then add integers.

In [11]:
(3*4)+5

17

In [13]:
#This will convert 200 minutes in hours by dividing by 60

In [14]:
200/60

3.3333333333333335

__Objectives:__

* Python
* SQL
* R

## Author:
Arpita